body {
  margin: 0;
}

nav {
  text-align: left;
  padding: 10px;
}

h3 {
  margin: 10px 10px 0;
}
p {
  margin: 0 10px 10px;
}

input[type=text], button {
  margin-left: 10px;
}

video {
  background-color: #000;
  width: 100%;
}
